#banner{
    display: flex;
    align-items: center;
    padding-left: 5%;;
    background-color: #F7E432;
    height: 10%;
    font-size:xx-large;
    font-weight:bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}